@font-face {
    font-family: product-sans;
    src: url(http://egkoppel.github.io/product-sans/product-sans-regular.woff2) format('woff2');
    src: url(http://egkoppel.github.io/product-sans/product-sans-regular.ttf?raw=true) format('truetype');
}

@font-face {
    font-family: product-sans;
    src: url(https://github.com/egkoppel/product-sans/blob/master/product-sans-italic.woff2?raw=true) format('woff2');
    src: url(https://github.com/egkoppel/product-sans/blob/master/product-sans-italic.ttf?raw=true) format('truetype');
    font-style: italic;
}

@font-face {
    font-family: product-sans;
    src: url(https://github.com/egkoppel/product-sans/blob/master/product-sans-bold.woff2?raw=true) format('woff2');
    src: url(https://github.com/egkoppel/product-sans/blob/master/product-sans-bold.ttf?raw=true) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: product-sans;
    src: url(https://github.com/egkoppel/product-sans/blob/master/product-sans-bold-italic.woff2?raw=true) format('woff2');
    src: url(https://github.com/egkoppel/product-sans/blob/master/product-sans-bold-italic.ttf?raw=true) format('truetype');
    font-style: italic;
    font-weight: 700;
}
